<section class="page-title style2 parallax parallax1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        Healthy Weight Calculator
                    </div>
                    <div class="text-heading">
                        Use this calculator to check your body mass index (BMI)
                    </div>
                    <div class="wrap-box-search">
                        <form action="#" method="get" accept-charset="utf-8">
                            <span>
                                <input type="text" placeholder="Height (Centimetres)" >
                            </span>
                            <span class="location">
                                <span class="ti-location-pin"></span>
                                <input type="text" placeholder="Weight (KG)" name="location">
                            </span>
                            <span class="categories">
                                <span class="ti-angle-down"></span>
                                <select name="categories">
                                    <option value="">Sex</option>
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>
                            </span>
                            <button type="submit" class="search-btn">Calculate</button>
                        </form><!-- /form -->
                    </div><!-- /.wrap-box-search -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="overlay"></div>
    </section><!-- /.page-title -->

    



    <section class="flat-row flat-imagebox background">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-row-title center">
                        <h2>About Smart Slim Clinic</h2>
                        <p>
                            Search and Find what you are looking for.
                        </p>
                    </div><!-- /.flat-row-title -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="imagebox">
                        <div class="box-imagebox">
                            <div class="box-header">
                                <div class="box-image">
                                    <img src="/assets/images/1.jpg" alt="">
                                    <a href="#" title="">View More</a>
                                    <div class="overlay"></div>
                                    
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <div class="box-title">
                                    <a href="#" title="">WHO ARE WE?</a><i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                                
                                <div class="box-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </div>
                            </div><!-- /.box-content -->
                            
                        </div><!-- /.box-imagebox -->
                    </div><!-- /.imaegbox -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="imagebox">
                        <div class="box-imagebox">
                            <div class="box-header">
                                <div class="box-image">
                                    <img src="/assets/images/2.jpg" alt="">
                                    <a href="#" title="">View More</a>
                                    <div class="overlay"></div>
                                    
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <div class="box-title">
                                    <a href="#" title="">
                                        OUR APPROACH</a>
                                </div>
                                
                                <div class="box-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </div>
                            </div><!-- /.box-content -->
                            
                        </div><!-- /.box-imagebox -->
                    </div><!-- /.imaegbox -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="imagebox">
                        <div class="box-imagebox">
                            <div class="box-header">
                                <div class="box-image">
                                    <img src="/assets/images/3.jpg" alt="">
                                    <a href="#" title="">View More</a>
                                    <div class="overlay"></div>
                                    
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <div class="box-title">
                                    <a href="#" title="">WHAT YOU CAN EXPECT?</a>
                                </div>
                            
                                <div class="box-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                </div>
                            </div><!-- /.box-content -->
                            
                        </div><!-- /.box-imagebox -->
                    </div><!-- /.imaegbox -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-imagebox style2 -->

    

    <section class="flat-row flat-text-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-title center">
                        <h2>
                            We will help You to look better, feel better and achieve your dreams.
                        </h2>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-text-title -->

    <section class="flat-row flat-main-blog style2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-row-title center">
                        <h2>Tips & Articles</h2>
                        <p>
                            Browse the latest articles from our blog.
                        </p>
                    </div><!-- /.flat-row-title -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">

              <app-articles-section></app-articles-section>
               
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-more">
                        <a routerLink="/articles" title="">View Blog</a>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-main-blog style2 -->

