

<div class="col-lg-4 col-sm-6" style="margin-bottom:30px">
    <article class="blog-post">
        <div class="featured-post">
            <a [routerLink]="[Service.key]" title="">
                <img src="{{Service.imageURL}}" alt="">
                <div class="overlay"></div>
            </a>
        </div>
        <div class="content-post">
            <div class="entry-post">
                <ul class="entry-meta">
                    <li class="topic">
                        <a [routerLink]="[Service.key]" title="">Health</a>
                    </li>
                    <li class="date">
                        <a [routerLink]="[Service.key]" title="">{{Service.dateTime}}</a>
                    </li>
                </ul>
                
                <h2 class="entry-title">
                    <a [routerLink]="[Service.key]" title="">
                            {{Service.title}}
                    </a>
                </h2>
            </div>
      
        
        </div>
    </article>
</div>


