<section class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                   
<ng-content select=".pageTitle"></ng-content>
                </div>
                <ul class="breadcrumbs">
                    
                    <ng-content select=".pageTree"></ng-content>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>