


<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header-wrap">
                   
                    <div id="logo" class="logo">
                        <a href="index.html" title="">
                            <img src="/assets/images/logo.png" style="width:170px" alt="Smart Slim Clinic">
                        </a>
                    </div>
                    <div class="nav-wrap">
                        <nav id="mainnav" class="mainnav">
                             <ul class="menu">
                                 <li>
                                     <a routerLink="/" title="Home">Home</a>
                                   
                                 </li>
                                 <li>
                                     <a  routerLink="/services" title="Services">Services</a>
                                     
                                 </li>
                                 <li>
                                     <a href="#" title="About us">About us</a>
                                     <ul class="submenu">
                                         <li>
                                             <a href="#" title="Mission">Mission</a>
                                         </li>
                                         <li>
                                             <a href="#" title="Vision">Vision</a>
                                         </li>
                                     </ul>
                                 </li>
                                 <li>
                                    <a routerLink="/articles" title="Articles">Articles</a>
                                    
                                </li>
                                 <li>
                                     <a href="#" title="Doctors">Doctors</a>
                                 </li>
                              <li>
                                <a  title="Account">Account</a>
                                <ul class="submenu">
                                    <li>
                                        <a routerLink="/signin" title="Signin">Signin</a>
                                    </li>
                                    <li>
                                        <a routerLink="/signup" title="Register">Register</a>
                                    </li>
                                    <li>
                                        <a routerLink="/admin" title="Register">Admin Panel</a>
                                    </li>
                                    <li>
                                        <a (click)="logout()" title="Logout">Logout</a>
                                    </li>
                                </ul>
                              </li>
                             </ul>
                        </nav><div class="button-header">
                            <a href="#" title=""><i class="ti-plus"></i>Book your appointment</a>
                        </div>
                        <div class="show-search">
                            <button>AR</button>
                         
                        </div>
                        <div class="btn-menu">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>