<app-inner-header>
    <ng-container class="pageTitle">Hello {{ userName }} </ng-container>
    <ng-container class="pageTree">
            <li>
                    <a routerLink="/" title="">Home</a>
                     <span class="arrow_right"></span>
                </li>
                <li>Admin Panel
                       
                </li>
       
    </ng-container>
</app-inner-header>

<section class="flat-row flat-main-blog">

    <div class="container">

        
        <div class="clearfix"></div>
        <div class="row">
           
            <div class="col-md-12">
           <a routerLink="articles">Articles</a>
           <a routerLink="services">Services</a>
            </div>
        </div>
    </div>

</section>