<app-inner-header>
        <ng-container class="pageTitle"> Tips & Articles </ng-container>
        <ng-container class="pageTree">
                <li>
                        <a routerLink="/" title="">Home</a>
                         <span class="arrow_right"></span>
                    </li>
            <li>
                Articles
            </li>
        </ng-container>
    </app-inner-header>
<section class="flat-row flat-main-blog">
        <div class="flat-row flat-main-blog">
            <div class="container">
            <div class="row">
            <!--Get & Show Articles-->
                <app-article-card *ngFor="let Article of (ArticlesState | async).Articles;let i = index"
                    [Article]="Article" [index]="i">

                </app-article-card>
            </div>

        </div>
    </div>

</section>
